[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
flask-restful = "*"
flask-script = "*"
pytest = "*"
requests = "*"
python-dotenv = "*"
flask-wtf = "*"
passlib = "*"

[requires]
python_version = "3.7"
